#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide{
  background: #000;
  width: 420px !important;
  margin: 0 auto;
}
.swiper-button-prev{
  color:gainsboro !important;
}
.swiper-button-next{
  color: gainsboro !important;
}

